.contact-wrapper {



  .hero-contact {
    background: url(../../Assets/images/about3.jpg);
  }

  .map iframe {
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
  }

  .agreement {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
  }
}
