.media-feature-wrapper {
    .main {
      background-size: cover;
      background: url(../../Assets/images/HOME/IAI-in-numbers/background-vector.png);
  
    }
    ul{
        list-style: none;
    }
  }
  
  