.career-opportunity {
    overflow-x: hidden;
    background-color: #0099dc;

    .job-openings-container {
        background-color: #ccebf8;

        .accordion-body {
            background:white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }

    .book-place{
        background-color: #183851;
        color: white;
        text-align: center;
    }

    
}
